.input{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    height: 35px;
    padding-left: 20px;
}
.j{
    display: flex;
    width: 50%;
    margin: auto;
    height: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: wheat;
    border-radius: 5px;
}