/* css for inputfield */
.inputfield{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    height: 35px;
    padding-left: 20px;
    font-size: 20px;
    border: 2px solid white;
}
/* css for button  */
.btn{
    display: flex;
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #161750;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    
}