<div class="a">
    <div class="b">
        <div class="income">
            <h1>Transactions History</h1>
            <div *ngFor="let item of budgetItem">
            <app-budget-item-card *ngIf="item.amount >= 0" [item]="item" (xButtonClick)="onDelete($item)"></app-budget-item-card>
        </div>
        
        <div *ngFor="let item of budgetItem">
            <app-budget-item-card *ngIf="item.amount < 0" [item]="item" (xButtonClick)="onDelete($item)"></app-budget-item-card>
        </div> 
        </div>
    </div>
</div>