.income{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    
}
.income h1{
    font-size: 35px;
    font-weight: 100;
    box-shadow: 4px 4px 4px white;
    opacity: .6;
    width: 50%;
    /* margin: auto; */

}
.flex{
    width: 100%;
    margin: auto ;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 20px;
   
}