.root{
    /* display: flex; */
    width: 50%;
    margin: auto;
}
.budget-item{
    margin-top: 50px;
    display: flex;
   justify-content: space-around;
   width: 100%;
}
.description{
    flex-grow: 1;
    font-size: 25px;
    margin-left: 5px;
}
.amount{
    padding: 5px;
}
.amount > p{
    font-size: 25px;
    font-weight: bold;
}
.btn-transaction{
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    padding-bottom: 2px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    width: auto;
    font-size: 18px;
}
.font-color{
    color: red;
    font-size: 25px;
}