.top-bar{
    width: 100%;
    text-align: center;
}
.top-bar > h1{
    font-size: 45px;
    font-weight: 100;
    border-bottom: 3px solid black;
    width: 100%;
    margin: auto;
}
.total{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.total h1{
    color: green;
    text-shadow: 2px 2px 2px black;
    font-size: 45px;
}
.add{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.h{
    font-size: 50px;
}